#search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro-modal-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 80vh;
}


.title-logo {
    width: 500px;
    margin-bottom: 50px;
}

.start-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 15px;
    font-family: 'Stellar', sans-serif;
}

.start-btn img {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.start-btn:focus {
    outline: 0;
}

.start-btn:hover {
    color: gray;
    /* I kept background-color as a future design idea */
    /* background-color: rgba(0,0,0,0.1); */
}

.location-modal-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.location-h1 {
    font-family: 'Chronicle Display', serif;
}

.location-or {
    font-size: 1.4rem;
    font-family: 'Chronicle Display', serif;
}


.search-by-location-btn {
    font-family: 'Stellar', sans-serif;
    background: #93A8AC;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    position: relative;
    width: 360px;
}
.search-by-location-btn::after {
        content: "\f124";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        top: 54%;
        right: 0px;
        bottom: 0;
        opacity: 0;
        transform: translate(-50%, -50%);

    }

.search-by-location-btn:hover {
        background: #2b2bff;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 4rem 1.5rem 1.5rem;
        color: #ffffff;
        width: 400px;
}
.search-by-location-btn:hover::after {
            opacity: 1;
            transition: all 0.5s;
            color: #ffffff;

        }

.back-btn {
    font-family: "Stellar", sans-serif;
    background: #93A8AC;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: 360px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 20px;
}

.back-btn:hover {
    background: #2b2bff;
    color: #ffffff;
}

a {
    text-decoration: none;
}
    



