header {
    height: 0;
}

.selected {
    color: red;
}

nav {
    background-color: #424B54;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    text-decoration: none;
    color: whitesmoke;
}