.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.marker-btn img {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 3px solid black;
    padding: 2px;
    border-radius: 50%;
}

.marker-btn:hover img {
    background-color: #aaaaaa;
}

.loader {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loader h1 {
    font-family: 'Chronicle Display', serif;
}