* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chronicle Display Font */
@import url(//db.onlinewebfonts.com/c/647a7208a3f353750207213a569815d4?family=Chronicle+Display);

/* Stellar Font */
@import url(//db.onlinewebfonts.com/c/9eea1ea594e51c3bd80ce21a298504b0?family=Stellar);